{
  "extends": [
    "next/core-web-vitals",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "simple-import-sort",
    "import",
    "unused-imports",
    "react-hooks",
    "react"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "off",
    "react/jsx-key": [
      "error",
      {
        "checkFragmentShorthand": true
      }
    ],
    "react/require-render-return": "error"
  },
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    },
    "exclude": [
      "node_modules",
      "dist"
    ]
  }
}